//- index.pug
doctype html
html
  include includes/header.pug
  body
    h1 Welcome to pug include example
    hr
    p Welcome to my super lame site.
    
    script
      include includes/script.js
    include includes/footer.pug