//- layout.pug :: https://pugjs.org/api/getting-started.html
html
  head
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')
  body
    block content
    block foot
      #footer
        p some footer content